<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %} {% endblock %} - FlaskApp</title>

</head>
<body>
    <nav>
        <center>
            <p style="font-family:verdana;font-size:30px">
                <a href="{{ url_for('index') }}">Dashboard</a>&nbsp&nbsp&nbsp
                <a href="{{ url_for('login') }}">Log In</a>&nbsp&nbsp&nbsp
                <a href="{{ url_for('register') }}">Sign Up</a>&nbsp&nbsp&nbsp
                <a href="{{ url_for('about') }}">Images and Tables</a>
            </p>
        </center>
    </nav>
    <hr>
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</div>
</body>
</html>